$global-shadow: 10px 10px 0 rgba(0,0,0, .3);
$header-responsive-image-size: min(18vw, 6em);
$header-responsive-size: min(10vw, 4em);
$header-padding: 0 min(5em, 5vw);

$head-responsive-size: min(12vw, 5em);
$head-responsive-image-size: min(22vw, 10em);
$mission-responsive-size: min(6vw, 2em);
$container-padding: 0 min(5em, 5vw);
$footer-padding: 1em min(5em, 5vw);

$planet-distance-size: min(6vw, 0.6em);
$planet-container-padding: 1em;