<section class="home-container">
    <section class="head">
        <h1>Finding Falcone</h1>
        <img src="assets/images/falcone.png" alt="falcone image">
    </section>
    <section class="description">
        <h2>The Mission</h2>
        <p>
            The mission is set in the planet of Lengaburu…in the distant
            distant galaxy of Tara B. After the recent war with neighbouring
            planet Falicornia, King Shan has exiled the Queen of Falicornia
            for 15 years.
        </p>
        <p>
            Queen Al Falcone is now in hiding. But if King Shan can find
            her before the years are up, she will be exiled for another 15
            years….
        </p>
    </section>
    <section class="call-to-action">
        <button type="button" (click)="startMissionClicked()">Start Mission</button>
    </section>
</section>
